<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Dashboard</title>
    <link rel="stylesheet" href="/css/admin_feedback.css">
</head>
<body>
    <div class="container">
        <div class="back-home-container">
            <a href="http://localhost:8000/api/v1/complaint/allComplaints" class="back-home-button">Complaint</a>
        </div>
        <div class="feedback-container">
            <a href="http://localhost:8000/api/v1/users/admin" class="feedback-button">Back to Home</a>
        </div>
        <h1>Feedback Dashboard</h1>
        <div id="complaints-list">
            <% if (feedbacks.length > 0) { %>
                <% feedbacks.forEach(feedback => { %>
                    <div class="complaint">
                        <p><strong>Name:</strong> <%= feedback.ownerName%></p>
                        <p><strong>School:</strong> <%= feedback.schoolName%></p>
                        <p><strong>Category:</strong> <%= feedback.category %></p>
                        <p><strong>Description:</strong> <%= feedback.description %></p>
                    </div>
                <% }); %>
            <% } else { %>
                <p>No feedbacks found.</p>
            <% } %>
        </div>
    </div>
</body>
</html>
