<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>లాగిన్</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container">
        <h1 id="page-title">లాగిన్</h1>
        <div class="language-container">
            <a href="http://localhost:8000/" class="language-button">భాష ఎంపిక</a>
        </div>
        <div class="login-option">
            <div class="radio-option">
                <input type="radio" id="normal-login" name="login-type" value="normal"checked>
                <label for="normal-login" id="normal-label">వినియోగదారుడు</label>
            </div>
            <div class="radio-option">
                <input type="radio" id="admin-login" name="login-type" value="admin">
                <label for="admin-login" id="admin-label">నిర్వాహకుడు</label>
            </div>
        </div>
        <form class="login-form">
            <input type="text" id="username" name="username" 
                   placeholder="వినియోగదారుడి పేరు" 
                   required>
            
            <input type="password" id="password" name="password" 
                   placeholder="పాస్వర్డ్" 
                   required>
            
            <input type="submit" value="సమర్పించండి" id="submit-button">
        </form>
        <div class="register-redirect">
            <p>ఖాతా లేదా? <a href="http://localhost:8000/api/v1/users/register" id="register-link">ఇక్కడ నమోదు చేసుకోండి</a></p>
        </div>
    </div>
    <script src="/js/login_telugu.js"></script>
</body>
</html>
